/*  Author : Ping Tian-Sen Anthony & Tas Emine */

@font-face { /* Definition of a new font LearningCurveProRegular */
    font-family: 'Sketch_Block';
    src: url('Sketch_Block.eot');
    src: url('Sketch_Block.eot?#iefix') format('embedded-opentype'),
         url('Sketch_Block.woff') format('woff'),
         url('Sketch_Block.ttf') format('truetype'),
         url('Sketch_Block.svg#LearningCurveProRegular') format('svg');
}


.errorMessage
{
    color: #FE0000;
	width: 250px;                             /*Text size*/
	margin: auto;
	text-align: justify;
	margin-bottom: 20px;
	margin-top : 90px;
	font-family: 'Sketch_Block', Arial, serif;
	font-size: large;
	text-shadow: 2px 2px 4px #318277;         /*Text color blurring*/
}


h1, h2
{
	color: #B52135;
	font-family: Impact;
    font-family: 'Sketch_Block', Arial, serif;
	font-size: 60px;
	text-shadow: 2px 2px 4px #000000;
	
}


a.button{
	background:url(picture/go.gif);
	color:#006A5C;
	line-height:60px;                          /*Interline spacing*/
	font-size :90%;                            /*Passage with mouse*/
	display: inline-block;
    text-align: center;
}


a:hover.button{
	color:#CA243B;
	font-size: 100%;
}


.style
{
	color:red;
    font-size: 1.5em;
}


/*The beige box on the center*/
#container
{
    padding: 10px;/*Entoure bien le cadre*/
    background: #ffffBf;
	border-radius: 15px;
	font-family: 'Sketch_Block', Arial, serif;
	font-size: small;                         /*text size*/
	box-shadow: 6px 6px 0px #006A5C;          /*box contour*/
	text-shadow: 2px 2px 4px #006A5C;         /*text contour*/
    opacity: 0.7;
    width: 25em;                              /*size of box*/
    margin-left: auto;
    margin-right: auto;
}


/*For align the text box*/
label
{
	display: block;
	width: 150px;
	float: left;
}


section
{
	color: black;
	width: 572px;                             /*Text size*/
	margin: auto;
	text-align: justify;
	margin-bottom: 20px;
	margin-top : 90px;
	font-family: 'Sketch_Block', Arial, serif;
	font-size: large;
	text-shadow: 2px 2px 4px #318277;         /*Text color blurring*/
}

body
{
	color:black;
	background-image:url(picture/pic16.jpg);
	background-size: 100%;
	margin:0;
}

tr /* All cells in the arrays*/
{

    border: 1px solid black;  

}


table {
     width: 70%;
    border-radius: 15px;
 
}

td, th {
    border: thin  outset #CA243B;
    border-radius: 15px;
	font-family: 'Sketch_Block', Arial, serif;
	font-size: small;                          /*Fixe the size of text*/
}
 